/* Write your code here. */
#root {
  background-color: black;
  text-align: center;
}
.heading {
  color: white;
  font-family: "Roboto";
  font-size: 60px;
}
.image {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border-color: red;
}
